*{
    margin: 0;
    padding: 0;
    background-origin: border-box;
    text-decoration: none;
}

.header{
    padding: 25px 4rem;
    background-color: #fff;
    color: black;
}

.header-all{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav a:hover{
    background-color: #e3e1e1;
}

.nav{
    margin: 90px 0px 0px 50px;
    margin-top: 50px;
}

.nav a{
    margin: 0 15px;
    color: black;
    font-size: 13px;
}

.logo :hover{
    background-color: #e3e1e1;
}


.logo img{
    color: black;
    height: 20px;
    background-color: #fff;
    margin-top: 45px;
}

.logo a{
    font-size: 12px;
    color: #080808;
    margin-right: 25px;
}

 .logo svg{
    width: 20px;
    margin: 35px 30px -20px 0px;
 }

.logo i{
    margin-right: 25px;
    font-size: 12px;
}

.logo button{
    padding: 2px 2px;
    margin-right: 25px;
    background-color: #fff;
    border: 1px solid #fff;
    
}



.all{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 0 4rem;
}

.box{
    width: 22%;
}

.box img{
    width: 100%;
    vertical-align: bottom;
}

.content h1{
    font-size: 14px;
    margin: 20px 60px;
}

.content h2{
    font-size: 15px;
    margin: 17px 92px;
}

.content h3{
    font-size: 15px;
    margin: 20px 81px;
}

.content h4{
    font-size: 15px;
    margin: 20px 100px;
}

.content h5{
    font-size: 15px;
    margin: 20px 64px;
}

.content h6{
    font-size: 17px;
    margin: 19px 81px;
}

.content p{
    font-size: 17px;
    margin: 19px 78px;
    font-weight: bold;
}

.content a{
    font-size: 20px;
    margin: 20px 85px;
    font-weight: bold;
}

.all-tables{
    display: flex;
    justify-content: space-between;
    margin: 0 0 70px 82px;
    margin-top: 70px;
}

.tables{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 22%;
    margin-right: 20px;
}

.tables a{
    margin: 5px 0;
    text-decoration: none;
    color: #333;
}

.tables h3{
    margin-bottom: 30px;
}